/*
    Bausch + Lomb Romania
    apetriceanu // 2017.11
*/

// Variables - Color 
@gray-xlt:      #FAFAFA;
@gray-lt:       #ECF2F6;
@gray-dlt:      #bdbdbd;
@gray-md:       #9E9E9E;
@gray-dk:       #616161;

@gray-alt:      #f9fafb;
@gray-alt-md:   #c7daed;

@white:         #fff;
@black-default: #212529;

@brand-primary: #26B1BD;
@brand-dk:      #009aa6;
@brand-xdk:     #003138;

// Variables - breakpoints

@bp-small:  576px;
@bp-med:    768px;
@bp-large:  992px;
@bp-huge:   1200px;

// Variables - misc
@trans:    all 0.15s cubic-bezier(0.33,0.66,0.66,1); 

// General overrides

.subpage {
    margin-top: 64px;

    .title {
        font-size: 36px;
        margin-bottom: 24px;
    }
}

// Typography

body {
    font-family: 'Catamaran', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

a {
    color: @brand-primary;
    transition: @trans;

    &:hover {
        color: @brand-dk;
        text-decoration: none;
    }

    &:active, &:focus {
        color: @brand-xdk
    }
    
}

// General UI

.container-fluid {
    @media screen and (min-width: @bp-huge) {
        padding-left: 48px;
        padding-right: 48px;
    }
}



// Navigation 

.navbar {
    font-family: Catamaran, Arial, sans-serif;

    @media screen and (min-width: @bp-huge) {
        padding: 24px 48px;
    }

    .navbar-brand {
        background: url(../img/logo_bauschlomb.svg) center no-repeat;
        background-size: contain;
        height: 100%;
        width: 297px;
        height: 64px;

        @media screen and (max-width: @bp-med) {
            background-image: url(../img/logo_bauschlomb_mini.svg);
            width: 48px;
            margin-left: 24px;
        }
    }

    .actions .btn-link, .navbar-toggler {
            color: @gray-md;
            transition: @trans;
            cursor: pointer;
            border: none;
            padding: .375rem .75rem;
            line-height: 1.25;

            &:hover {
                color: @brand-primary;
            }

            &:active, &:focus {
                color: @black-default;
            }
    }

    .navbar-nav {
        .nav-item {
            font-weight: bold;
            transition: @trans;
            font-size: 0.75em;
            
            @media screen and (min-width: @bp-huge) {
                font-size: 1em;                
            }

            @media screen and (min-width: 1680px) {
                margin: 0 12px;
                font-size: 1.2em;
            }

            .nav-link {
                transition: @trans;

                @media screen and (min-width: @bp-huge) {
                    
                }
                &:hover {
                    color: @brand-primary;
                }
            }
        }

        .dropdown-menu {
            transition: @trans;
        }
    
        .dropdown-item.active, 
        .dropdown-item:active {
            background-color: @brand-primary;
        }
    
    }
}

.submenu_vertical {
    @media screen and (max-width: 768px) {
        display: none;
    }

    .heading {
        font-weight: bold;        
        letter-spacing: 2px;       
        text-transform: uppercase;        
        text-align: center;       
        margin-bottom: 24px;
        color: @gray-md;
        
    }

    #accordion {
        .card {
            border-radius: 0;

            &:not(:last-child) {
                border-bottom: none;
            }

            &:not(:first-child) {
                border-top: none;
            }

            &:last-child {
                .card-body .nav .nav-link:last-child {
                    border-bottom: none;
                }
            }

            .card-header:first-child, .card-header {
                border-radius: 0px;
                padding: 0;
                background: @gray-xlt;

                h5 a {
                    padding: 12px 16px;
                    display: block;
                    color: @brand-primary;
                    transition: @trans;
                    font-size: 16px;
                    font-weight: 700;


                    &:hover {
                        color: @brand-dk;
                        text-decoration: none;
                    }
                }
            }

            .card-body {
                padding: 0;

                .nav {
                    .nav-link {
                        transition: @trans;
                        color: @gray-dk;
                        border-radius: 0;

                        &.active {
                            border-radius: 0;
                            background-color: @brand-primary;
                            color: @white;

                            &:hover {
                                background-color: @brand-dk;
                            }
                        }

                        &:hover {
                            background-color: @gray-xlt;
                        }

                        &:last-child {
                            border-bottom: 1px solid rgba(0,0,0,.125);
                            
                        }
                    }
                }
            }
        }
    }
}

// Footer

footer {
    margin-top: 72px;
    padding: 48px 0;
    border-top: 1px solid @gray-lt;
    background: @gray-alt;


    .logo {
        background: url(../img/logo_bauschlomb.svg) left center no-repeat;
        height: 16px;
        margin-bottom: 18px;
    }

    a.social {
        display: inline-block;
        margin: 12px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .footerNav {
        display: block;
        font-weight: 700;
        color: @gray-md;
        transition: @trans;

        &::before {
            content: '+';
            margin-right: 12px;
            font-weight: 900;
            color: @gray-lt;
            transition: @trans; 
        }

        &:hover {
            color: @brand-primary;

            &::before {
                color: @brand-dk;
            }
        }
    }

    .col.links {
        text-align: right;

        .btn-link {
            color: @brand-primary;
            transition: @trans;
        }
    }
}

// Home

.socialRow {
    text-align: center;
    margin: 48px 0;

    .social {
        width: 64px;
        height: 72px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 12px;
        transition: @trans;
        
        &.mail {
            background-image: url(../img/social_mail.svg);
        }
        
        &.fb {
            background-image: url(../img/social_fb.svg);
        }
        
        &.insta {
            background-image: url(../img/social_insta.svg);
        }

        &:hover {
            opacity: 0.75;
        }
    }
}

.cardRows {
    background: @white;

    @media screen and (min-width: @bp-large) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 36px;
    }

    .card {
        height: 100%;
        padding: 36px 18px;
        border: 0;
        border-radius: 0;
        transition: @trans;
        background: @gray-alt;
        
        .icon  {
            .feather {
                transform: scale(2, 2);
                margin-left: 14px;
                margin-bottom: 24px;
                color: @gray-md;

                @media screen and (min-width: @bp-huge) {
                    transform: scale(3, 3);
                    color: @gray-dlt;
                    margin-left: 24px;
                }
            }
        }

        .heading {
            font-weight: 900;
            font-size: 1.6em;
            margin-bottom: 12px;
            color: @brand-primary;

            @media screen and (min-width: @bp-huge) {
                font-size: 2em;
                margin-bottom: 24px;
            }
        }

        .content {
            color: @gray-dk;
        }


        @media screen and (min-width: @bp-huge) {
            padding: 72px 36px;
        }

        &:hover {
            background: @brand-primary;
            text-decoration: none;


            .icon .feather {
                color: @brand-dk;
            }

            .heading {
                color: @brand-xdk;
            }

            .content {
                color: @white;
            }
        }


    }
}




.prodCard {
    padding: 24px;
    display: block;
    border-radius: 2px;
    height: 100%;
    transition: @trans;
    text-decoration: none;
    color: @black-default;
    box-shadow: 0px 2px 12px 0px fade(@gray-dk, 50%);
    text-align: center;

    .icon {
        text-align: center;
        margin-bottom: 48px;
        color: @brand-primary;
        margin-top: 24px;

        .inner {
            background: #fff;
            padding: 29px 24px 19px 24px;

            .feather {
                transform: scale(2);
            }
        }
    }

    .heading {
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center;
    }
}

// Carousel 

.carousel-inner {

    .carousel-item {
        height: 480px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (min-width: @bp-huge) {
            height: 720px;
        }

        .content {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        

            @media screen and (min-width: @bp-huge) {
                margin-right: 40%;
            }

            .heading {
                font-weight: 100;
                font-size: 36px;
                color: @white;
                margin-left: 24px;
                margin-right: 24px;
                line-height: 1.2;
                display: inline-block;

                @media screen and (min-width: @bp-med) {
                    font-size: 64px;
                }

                @media screen and (min-width: @bp-huge) {
                    font-size: 96px;
                    margin-left: 72px;
                    margin-bottom: 24px;
                }
            }

            .post {
                font-weight: 700;
                font-size:18px;
                margin-left: 24px;
                margin-right: 24px;
                line-height: 1.2;
                color: @brand-xdk;

                &.light {
                    color: @white;
                }

                @media screen and (min-width: @bp-med) {
                    font-size: 36px;
                }


                @media screen and (min-width: @bp-huge) {
                    margin-left: 72px;
                }

            }

            .cta { 
                transition: @trans;
                font-size: 24px;
                display: inline-block;
                margin-top: 24px;
                padding: 12px 24px;
                background-color: fade(@brand-primary, 90%);
                color: @white;
                font-weight: 700;
                margin-left: 24px;

                @media screen and (min-width: @bp-huge) {
                    margin-left: 72px;
                }

                                
                &:hover {
                    background-color: @brand-primary;
                    border-bottom-color: @white;
                    text-decoration: none;
                }
            }
        }
    }

    .slide.first {
        background-image: url(../img/home_hero_1.jpg);
    }

    .slide.second {
        background-image: url(../img/home_hero_2.jpg);
    }

    
}

// Buttons 

.btn-primary {
    background-color: @brand-primary;
    border-color: @brand-primary;
}

// Modals

.modal {
    padding: 0!important;
    .modal-dialog {
        width: 100%;
        max-width: 100%;
        margin: 0;
        box-shadow: none;

        .modal-content {
            border: none;
            border-radius: 0;
            padding: 36px 0;

            .form-row:not(:first-of-type) {
                margin-top: 24px;
            }
        }
    }

    &.fullScreen .modal-dialog {
         .modal-content {
            height: 100vh;
            background: fade(@brand-primary, 98%);

            .modal-header {
                border-bottom: none;

                
                .modal-title {
                    display: block;
                    font-size: 2.4em;
                    font-weight: 700;
                    color: @brand-dk;
                    margin-top: -36px;
                    margin-left: 24px;

                    @media screen and (min-width: @bp-large) {
                        margin-top: -24px;
                        margin-left: 48px;
                        font-size: 4.8em;
                    }
                }
    
                button.close {
                    transform: scale(1.5, 1.5);
                    margin-top: -26px;
                    margin-right: 16px;

                    @media screen and (min-width: @bp-large) {
                        transform: scale(3, 3);
                        margin-top: 18px;
                        margin-right: 48px;
    
                    }

                }
    
            }

            .modal-body {

                .input-group {
                    input[type=text] {
                        background: none;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid @white;
                        border-radius: 0;
                        color: @white;
                    }

                    .btn.btn-primary {
                        background: none;
                        transition: @trans;

                        &:hover {
                            color: @brand-dk;
                            background: none;
                            border-color: rgba(255,255,255,0);
                        }

                        &:active, &:focus {
                            border-color: transparent;
                            box-shadow: none;
                        }
                    }
    
                }
            }
    
        }
    }
}

// Product Page

.product {
    .chocolat-parent {
        margin-bottom: 36px;
    }

    .description {
        color: @gray-md;
    }

    .infobox {
        background: @gray-xlt;
        border: 1px solid @gray-lt;
        border-radius: 2px;
        color: @black-default;
        text-decoration: none;
        text-align: center;
        margin: 64px 0 64px 0;

        .title {
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            background: @white;
            display: inline-block;
            border: 2px solid @brand-primary;
            border-radius: 24px;
            max-width: 75%;
            padding: 6px 21px 9px 21px;
            position: relative;
            top: -24px;
        }

        .content {
            padding: 0 24px 24px 24px;
            text-align: left;

            ul.check {
                list-style-type: none;

                li::before {
                    content: "\2713";
                    position: absolute;
                    margin-left: -1.3em;                  
                }

            }
        }
    }
}

.feather-small {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-top: 5px;
}

// Product Page 2

.productMain {
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border-bottom: 1px solid @gray-alt-md;

    .stage {

        margin-top: 36px;
        margin-bottom: 36px;
        
        @media screen and (min-width: @bp-huge) {
            margin-top: 64px;
            margin-bottom: 64px;
        }

        .pageTitle {
            color: @brand-primary;
            font-weight: 100;
            font-size: 2.4em;

            @media screen and (min-width: @bp-huge) {
                font-size: 3.6em;
            }

        }

        .subtitle {
            color: @brand-xdk;
            font-weight: 700;
            font-size: 1.2em;
            margin-bottom: 24px;

            @media screen and (min-width: @bp-huge) {
                font-size: 1.8em;
                margin-bottom: 48px;
            }

        }

        .productPicture {
            img {
                width: 100%;
            }
        }
    }


    // deprecated code


    .hero-outer {
        background: linear-gradient(to bottom right, @brand-primary, @brand-dk);
        padding: 72px 48px;
        margin: 48px 33px;
        color: @white;

        &.bg1 {
            background: url(../img/prod_largebg_plane.jpg) center no-repeat;
            background-size: cover;
        }

        .productName {
            font-size: 48px;
            font-weight: bold;

            &::after {
                display: block;
                content: '';
                height: 6px;
                width: 48px;
                background: @brand-primary;
                margin: 24px 0 48px 0;
            }
        }

        .subtitle {
            margin-bottom: 48px;
            font-size: 28px;
            font-family: Georgia, serif;
            
        }

        .description {
            margin-right: 720px;

            
            @media screen and (max-width: 1400px) {
                margin-right: 480px;
            }

            @media screen and (max-width: @bp-huge) {
                margin-right: 0;
                
            }


        }
    }

    .productImage {
        width: 640px;
        height: 480px;
        position: relative;
        right: 69px;
        float: right;
        top: -360px;
        margin-bottom: -420px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        
        @media screen and (max-width: 1400px) {
            width: 360px;
        }

        @media screen and (max-width: @bp-huge) {
            float: none;
            right: 0;
            top: 0;
            margin: 36px 33px;
            height: 360px;
            width: auto;

            
        }
    }
}