/*
    Bausch + Lomb Romania
    apetriceanu // 2017.11
*/

// Variables - Color 
@gray-xlt:      #FAFAFA;
@gray-lt:       #E0E0E0;
@gray-md:       #9E9E9E;
@gray-dk:       #212529;

@black-default: #212529;

@brand-primary: #26B1BD;

// Variables - breakpoints

@bp-small:  576px;
@bp-med:    768px;
@bp-large:  992px;
@bp-huge:   1200px;

// Variables - misc
@trans:    all 0.15s cubic-bezier(0.33,0.66,0.66,1); 

// General overrides

// Typography

// Navigation 

.navbar-upper {
    z-index: 2;
    padding: 0;

    @media screen and (min-width: @bp-large) {
        padding: 36px 0;
        border-bottom: 1px solid @gray-lt;    
    }

    .navbar-brand {
        background: url(../img/logo_bauschlomb.svg) center no-repeat;
        background-size: contain;
        height: 100%;
        width: 297px;
        height: 64px;

        @media screen and (max-width: @bp-med) {
            background-image: url(../img/logo_bauschlomb_mini.svg);
            width: 48px;
            margin-left: 24px;
        }
    }

    .actions .btn-link, .navbar-toggler {
            color: @gray-md;
            transition: @trans;
            cursor: pointer;
            border: none;
            padding: .375rem .75rem;
            line-height: 1.25;

            &:hover {
                color: @brand-primary;
            }

            &:active, &:focus {
                color: @gray-dk;
            }
    }

    .navbar-toggler {
        margin-right: 24px;
    }

}

.navbar-lower {
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, .3);
    z-index: 1;

    @media screen and (max-width: @bp-large) {
        padding: 0;
    }

    .dropdown-menu {
        transition: @trans;
    }

    .dropdown-item.active, 
    .dropdown-item:active {
        background-color: @brand-primary;
    }
}

// Footer

footer {
    margin: 72px 0 48px 0;
    padding: 48px 0;
    border-top: 1px solid @gray-lt;

    .col.links {
        text-align: right;

        .btn-link {
            color: @brand-primary;
            transition: @trans;
        }
    }
}

// Home

.socialRow {
    text-align: center;
    margin: 48px 0;

    .social {
        width: 64px;
        height: 72px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 12px;
        transition: @trans;
        
        &.mail {
            background-image: url(../img/social_mail.svg);
        }
        
        &.fb {
            background-image: url(../img/social_fb.svg);
        }
        
        &.insta {
            background-image: url(../img/social_insta.svg);
        }

        &:hover {
            opacity: 0.75;
        }
    }
}

.cardRows {
    @media screen and (min-width: @bp-large) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 72px 0 36px 0;    
    }

    .col-lg {
        @media screen and (max-width: @bp-large) {
            margin: 72px 0 12px 0;
        }
    
    }
}

.homeCard {
    background: @gray-xlt;
    padding: 0 24px 24px 24px;
    display: block;
    border: 1px solid @gray-lt;
    border-radius: 2px;
    height: 100%;
    transition: @trans;
    text-decoration: none;
    color: @black-default;

    .icon {
        text-align: center;
        margin-bottom: 48px;
        position: relative;
        top: -9px;
        color: @black-default;

        .inner {
            background: #fff;
            padding: 29px 24px 19px 24px;
            border: solid 2px @brand-primary;
            border-radius: 999px;
        }
    }

    .heading {
        font-weight: bold;
        margin-bottom: 12px;
        text-align: center;
    }

    &:hover {
        background: @brand-primary;
        color: #fff;
        border-color: @brand-primary;
        box-shadow: 0px 2px 36px 0px fade(@brand-primary, 30%);
        text-decoration: none;

        .heading, .content {
            color: #fff;
        }

        .icon {
            color: @black-default
        }
    }
}

// Carousel 

.carousel-indicators {
    justify-content: right;
}

.carousel-inner {

    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 480px;
    }

    .slide.first {
        background-image: url(../img/home_hero_1.jpg);
    }

    .slide.second {
        background-image: url(../img/home_hero_2.jpg);
    }
}

// Buttons 

.btn-primary {
    background-color: @brand-primary;
    border-color: @brand-primary;
}

// Modals

.modal.fromTop {
    padding: 0!important;
    .modal-dialog {
        width: 100%;
        max-width: 100%;
        margin: 0;
        box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, .3);

        .modal-content {
            border: none;
            border-radius: 0;
            padding: 36px 0;

            .form-row:not(:first-of-type) {
                margin-top: 24px;
            }

        }
    }
}